@import "./assets/source/components/navbar/navbar";
@import "./assets/source/components/aboutconference/aboutconference.scss";
@import "./assets/source/components/ourspeakings/ourspeakings";
@import "./assets/source/components/Schedule/schedule";
@import "./assets/source/components/cards/cards";
@import "./assets/source/components/sponsors/sponsors.scss";
@import "./assets/source/components/ourblog/ourblog.scss";
@import "./assets/source/components/blog/blog";
@import "./assets/source/components/contact/contact";
@import "./assets/source/components/footer/footer";

.container {
  transform: translateY(150px);
  opacity: 0;
  transition: 0.8s;
}
.checked {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
