body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-left {
  width: 30%;
}
header .navbar-right {
  width: 70%;
}
header .navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navbar-right ul li button {
  background: transparent;
  border: none;
}
header .navbar-right ul li button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
header .navbar-right ul li:first-child button a {
  color: #df42b1;
}
header .navbar-right ul li:last-child button {
  border-radius: 60px;
  width: 150px;
  height: 45px;
  position: relative;
  color: white;
  font-size: 13px;
  word-spacing: 10px;
  cursor: pointer;
}
header .navbar-right ul li:last-child button:hover span {
  color: black;
}
header .navbar-right ul li:last-child button:hover::after {
  width: 100%;
  background: white;
}
header .navbar-right ul li:last-child button::before {
  content: "";
  transition: 0.5s;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header .navbar-right ul li:last-child button::after {
  content: "";
  transition: 0.8s;
  background: transparent;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
}

.aboutconference {
  margin: 0px;
  background: #151853;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  height: 950px;
}
.aboutconference .container {
  margin-top: 200px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.aboutconference .container .welcome {
  display: flex;
}
.aboutconference .container .welcome-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.aboutconference .container .welcome-left h1 {
  color: #df42b1;
  font-size: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
}
.aboutconference .container .welcome-left h2 {
  margin: 10px 0px;
  font-size: 40px;
  color: white;
}
.aboutconference .container .welcome-left p {
  color: white;
  font-size: 18px;
}
.aboutconference .container .welcome-left a {
  margin-top: 40px;
}
.aboutconference .container .welcome-left a button {
  border-radius: 60px;
  width: 150px;
  height: 45px;
  position: relative;
  color: white;
  font-size: 13px;
  word-spacing: 10px;
  background: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
}
.aboutconference .container .welcome-left a button:hover {
  color: black;
}
.aboutconference .container .welcome-left a button::after {
  content: "";
  transition: 0.8s;
  background: transparent;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
}
.aboutconference .container .welcome-left a button:hover::after {
  background: white;
  width: 100%;
}
.aboutconference .container .welcome-left a button::before {
  content: "";
  transition: 0.5s;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.aboutconference .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.aboutconference .date-conference {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}
.aboutconference .date-conference h1 {
  color: #df42b1;
  font-size: 15px;
  margin-bottom: 5px;
}
.aboutconference .date-conference h2 {
  color: white;
  font-size: 27px;
  margin-top: 5px;
}
.aboutconference .date .timer {
  width: 70%;
}
.aboutconference .date .timer ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0px;
  padding: 0px;
}
.aboutconference .date .timer ul li {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutconference .date .timer ul li h1 {
  color: white;
  margin: 0px;
  font-size: 60px;
  letter-spacing: 1px;
}
.aboutconference .date .timer ul li h2 {
  color: rgba(255, 255, 255, 0.5);
  margin: 0px;
  font-size: 20px;
}

.ourspeakings {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  height: 1200px;
  background-image: url("https://preview.colorlib.com/theme/confer/img/bg-img/3.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}
.ourspeakings .container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourspeakings .container .view {
  margin-top: 40px;
}
.ourspeakings .container .view button {
  border-radius: 20px;
  padding: 10px 25px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.8s;
  letter-spacing: 1px;
}
.ourspeakings .container .view button:hover {
  background: #df42b1;
  border: none;
}
.ourspeakings .container .heading {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourspeakings .container .heading h1 {
  margin: 0px;
  font-size: 20px;
}
.ourspeakings .container .heading h2 {
  margin: 10px 0px;
  font-size: 45px;
}
.ourspeakings .container .images {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.ourspeakings .container .images ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.ourspeakings .container .images li h1 {
  transform: translate(30px, -80px);
  position: absolute;
  color: white;
  margin: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.ourspeakings .container .images li h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: translate(30px, -50px);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-weight: bolder;
  position: absolute;
  margin: 3px;
  color: #df42b1;
}
.ourspeakings .container .images img {
  width: 340px;
  height: 370px;
  border-radius: 10px;
}

.schedule {
  background: #151853;
  height: 1500px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.schedule .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.schedule .container .plan {
  margin-top: 10px;
}
.schedule .container .plan ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.schedule .container .plan ul li {
  display: flex;
  border: 1px solid #444675;
  padding: 30px;
  width: 1000px;
  align-items: center;
  justify-content: space-between;
}
.schedule .container .plan ul li .headingOne {
  color: white;
}
.schedule .container .plan ul li .headingOne h1 {
  margin: 10px;
}
.schedule .container .plan ul li .headingOne h2 {
  font-size: 20px;
  margin: 10px;
}
.schedule .container .plan ul li .headingOne b {
  color: #9293bc;
  font-size: 20px;
}
.schedule .container .plan ul li .headingTwo {
  color: white;
  margin-right: 50px;
}
.schedule .container .plan ul li .headingTwo i {
  color: #df42b1;
  margin-right: 10px;
}
.schedule .container .plan ul li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.schedule .container .plan ul li .view {
  display: flex;
  align-items: center;
}
.schedule .container .plan ul li .view a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.schedule .container .plan ul li .view a button {
  border: none;
  width: 160px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  color: white;
  position: relative;
  z-index: 1;
  font-weight: 500;
}
.schedule .container .plan ul li .view a button::after {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  transition: 0.6s;
  z-index: -1;
}
.schedule .container .plan ul li .view a button:hover {
  color: black;
}
.schedule .container .plan ul li .view a button:hover::after {
  background: white;
  width: 100%;
}
.schedule .container .plan ul li .view a button::before {
  content: "";
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  z-index: -1;
}
.schedule .download {
  margin-top: 30px;
}
.schedule .download button {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  position: relative;
  cursor: pointer;
}
.schedule .download button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: tr;
  width: 101%;
  height: 107%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 20px;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  z-index: 1;
}
.schedule .download button::after {
  content: "DOWNLOAD SCHEDULE (PDF)";
  position: absolute;
  line-height: 35px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: transparent;
  background-color: #151853;
  transition: 1s;
  z-index: 2;
}
.schedule .download button:hover::after {
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
}
.schedule .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule .heading h1 {
  font-size: 20px;
  margin: 2px;
  color: #df42b1;
}
.schedule .heading h2 {
  margin: 0px;
  font-size: 45px;
  color: white;
}
.schedule .plandays {
  margin-top: 50px;
}
.schedule .plandays ul {
  display: flex;
  list-style: none;
}
.schedule .plandays ul li {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 170px;
  border: 1px solid white;
  padding: 10px 20px;
}
.schedule .plandays ul li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.schedule .plandays ul li:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.schedule .plandays ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.schedule .plandays ul li a h1,
.schedule .plandays ul li a h2 {
  margin: 2px;
  color: white;
}
.schedule .plandays ul li a h1 {
  font-size: 25px;
}
.schedule .plandays ul li a h2 {
  font-size: 20px;
}

.cards {
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 900px;
}
.cards .container {
  margin-top: 50px;
}
.cards .container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .container .heading h1 {
  color: white;
  font-size: 15px;
  margin: 5px;
}
.cards .container .heading h2 {
  margin: 2px;
  font-size: 40px;
  color: white;
}
.cards .container .options {
  margin-top: 50px;
}
.cards .container .options ul {
  list-style: none;
  display: flex;
  gap: 70px;
}
.cards .container .options ul li {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  padding-top: 0px;
  border-radius: 15px;
  transition: 0.3s;
}
.cards .container .options ul li:hover {
  transform: scale(1.1);
}
.cards .container .options ul li .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .container .options ul li .info button {
  width: 230px;
  height: 50px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  border: none;
  z-index: 1;
}
.cards .container .options ul li .info button::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.6s;
  z-index: -1;
}
.cards .container .options ul li .info button:hover::after {
  background: white;
  width: 100%;
}
.cards .container .options ul li .info button:hover {
  color: black;
}
.cards .container .options ul li .info button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.cards .container .options ul li .info img {
  margin-top: 20px;
}
.cards .container .options ul li .info h1 {
  background: #df42b1;
  margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  color: white;
  padding: 7px 25px;
}
.cards .container .options ul li .info h2 {
  font-size: 60px;
  margin: 20px;
  margin-bottom: 0px;
  position: relative;
  color: #111343;
}
.cards .container .options ul li .info b {
  position: absolute;
  left: -20px;
  top: 12px;
  font-size: 30px;
}
.cards .container .options ul li .advantages {
  text-align: center;
}
.cards .container .options ul li .advantages i {
  color: #df42b1;
  margin-right: 5px;
  font-size: 15px;
}
.cards .container .options ul li .advantages h1 {
  font-size: 15px;
  color: #5d5e8d;
}

.sponsors {
  background: #151853;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  height: 1200px;
}
.sponsors .container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors .container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors .container .heading h1 {
  margin: 0px;
  font-size: 45px;
  color: white;
}
.sponsors .container .heading h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #df42b1;
}
.sponsors .container .list {
  margin-top: 50px;
}
.sponsors .container .list ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.sponsors .container .list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444675;
  width: 270px;
  height: 270px;
}
.sponsors .container .list ul li img {
  opacity: 0.3;
  transition: 0.5s;
}
.sponsors .container .list ul li:hover img {
  opacity: 1;
}
.sponsors .container .persons {
  margin-top: 80px;
}
.sponsors .container .persons ul {
  display: flex;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}
.sponsors .container .persons ul li {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  width: 410px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sponsors .container .persons ul li .info {
  color: white;
}
.sponsors .container .persons ul li .person {
  height: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sponsors .container .persons ul li .person .about h1 {
  font-weight: 300;
  margin: 0px;
  color: white;
}
.sponsors .container .persons ul li .person .about h2 {
  font-weight: 300;
  margin: 0px;
  font-size: 20px;
  color: #df42b1;
}
.sponsors .container .persons ul li .person img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */