body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.circle {
  position: fixed;
  color: wheat;
  z-index: 1000;
  bottom: 45px;
  right: 45px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background: #df42b1;
  border-radius: 50%;
  transition: 0.5s;
}
.circle:hover {
  background: black;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-left {
  width: 30%;
}
header .navbar-right {
  width: 70%;
}
header .navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navbar-right ul li button {
  background: transparent;
  border: none;
}
header .navbar-right ul li button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.5s;
  display: flex;
}
header .navbar-right ul li button a i {
  margin-left: 5px;
  color: #df42b1;
}
header .navbar-right ul li button a:hover {
  color: #df42b1;
}
header .navbar-right ul li:first-child button a {
  color: #df42b1;
}
header .navbar-right ul li:last-child button {
  border-radius: 60px;
  width: 150px;
  height: 45px;
  position: relative;
  color: white;
  font-size: 13px;
  word-spacing: 10px;
  cursor: pointer;
}
header .navbar-right ul li:last-child button:hover span {
  color: black;
}
header .navbar-right ul li:last-child button:hover::after {
  width: 100%;
  background: white;
}
header .navbar-right ul li:last-child button::before {
  content: "";
  transition: 0.5s;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header .navbar-right ul li:last-child button::after {
  content: "";
  transition: 0.8s;
  background: transparent;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
}

.aboutconference {
  margin: 0px;
  background: #151853;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  height: 950px;
}
.aboutconference .container {
  margin-top: 200px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.aboutconference .container .welcome {
  display: flex;
}
.aboutconference .container .welcome-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.aboutconference .container .welcome-left h1 {
  color: #df42b1;
  font-size: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
}
.aboutconference .container .welcome-left h2 {
  margin: 10px 0px;
  font-size: 40px;
  color: white;
}
.aboutconference .container .welcome-left p {
  color: white;
  font-size: 18px;
}
.aboutconference .container .welcome-left a {
  margin-top: 40px;
}
.aboutconference .container .welcome-left a button {
  border-radius: 60px;
  width: 150px;
  height: 45px;
  position: relative;
  color: white;
  font-size: 13px;
  word-spacing: 10px;
  background: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
}
.aboutconference .container .welcome-left a button:hover {
  color: black;
}
.aboutconference .container .welcome-left a button::after {
  content: "";
  transition: 0.8s;
  background: transparent;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
}
.aboutconference .container .welcome-left a button:hover::after {
  background: white;
  width: 100%;
}
.aboutconference .container .welcome-left a button::before {
  content: "";
  transition: 0.5s;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.aboutconference .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.aboutconference .date-conference {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}
.aboutconference .date-conference h1 {
  color: #df42b1;
  font-size: 15px;
  margin-bottom: 5px;
}
.aboutconference .date-conference h2 {
  color: white;
  font-size: 27px;
  margin-top: 5px;
}
.aboutconference .date .timer {
  width: 70%;
}
.aboutconference .date .timer ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0px;
  padding: 0px;
}
.aboutconference .date .timer ul li {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutconference .date .timer ul li h1 {
  color: white;
  margin: 0px;
  font-size: 60px;
  letter-spacing: 1px;
}
.aboutconference .date .timer ul li h2 {
  color: rgba(255, 255, 255, 0.5);
  margin: 0px;
  font-size: 20px;
}

.ourspeakings {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  height: 1200px;
  background-image: url("https://preview.colorlib.com/theme/confer/img/bg-img/3.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.ourspeakings::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c63fa4;
  background-image: linear-gradient(120deg, #df42b1 0%, #505add 100%);
  opacity: 0.9;
  z-index: -1;
}
.ourspeakings .container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourspeakings .container .view {
  margin-top: 40px;
}
.ourspeakings .container .view button {
  border-radius: 20px;
  padding: 10px 25px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.8s;
  letter-spacing: 1px;
}
.ourspeakings .container .view button:hover {
  background: #df42b1;
  border: none;
}
.ourspeakings .container .heading {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourspeakings .container .heading h1 {
  margin: 0px;
  font-size: 20px;
}
.ourspeakings .container .heading h2 {
  margin: 10px 0px;
  font-size: 45px;
}
.ourspeakings .container .images {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.ourspeakings .container .images ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.ourspeakings .container .images li {
  position: relative;
  overflow: hidden;
}
.ourspeakings .container .images li .window {
  transition: 0.5s;
  position: absolute;
  top: -130px;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  align-items: center;
  border-bottom-left-radius: 10px;
  background: #df42b1;
}
.ourspeakings .container .images li .window a {
  text-decoration: none;
}
.ourspeakings .container .images li .window a i {
  color: white;
}
.ourspeakings .container .images li h1 {
  transform: translate(30px, -80px);
  position: absolute;
  color: white;
  margin: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.ourspeakings .container .images li h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: translate(30px, -50px);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-weight: bolder;
  position: absolute;
  margin: 3px;
  color: #df42b1;
}
.ourspeakings .container .images img {
  width: 340px;
  height: 370px;
  border-radius: 10px;
}

.schedule {
  background: #151853;
  height: 1000px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.schedule .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.schedule .container .plan {
  margin-top: 10px;
}
.schedule .container .plan ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}
.schedule .container .plan ul li {
  display: flex;
  border: 1px solid #444675;
  padding: 20px 30px;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.schedule .container .plan ul li .headingOne {
  color: white;
}
.schedule .container .plan ul li .headingOne h1 {
  margin: 10px;
}
.schedule .container .plan ul li .headingOne h2 {
  font-size: 20px;
  margin: 10px;
}
.schedule .container .plan ul li .headingOne b {
  color: #9293bc;
  font-size: 20px;
}
.schedule .container .plan ul li .headingTwo {
  color: white;
  margin-right: 50px;
}
.schedule .container .plan ul li .headingTwo i {
  color: #df42b1;
  margin-right: 10px;
}
.schedule .container .plan ul li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.schedule .container .plan ul li .view {
  display: flex;
  align-items: center;
}
.schedule .container .plan ul li .view a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.schedule .container .plan ul li .view a button {
  border: none;
  width: 160px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  color: white;
  position: relative;
  z-index: 1;
  font-weight: 500;
}
.schedule .container .plan ul li .view a button::after {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  transition: 0.6s;
  z-index: -1;
}
.schedule .container .plan ul li .view a button:hover {
  color: black;
}
.schedule .container .plan ul li .view a button:hover::after {
  background: white;
  width: 100%;
}
.schedule .container .plan ul li .view a button::before {
  content: "";
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  z-index: -1;
}
.schedule .download {
  margin-top: 30px;
}
.schedule .download button {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  position: relative;
  cursor: pointer;
}
.schedule .download button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: tr;
  width: 101%;
  height: 107%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 20px;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  z-index: 1;
}
.schedule .download button::after {
  content: "DOWNLOAD SCHEDULE (PDF)";
  position: absolute;
  line-height: 35px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: transparent;
  background-color: #151853;
  transition: 1s;
  z-index: 2;
}
.schedule .download button:hover::after {
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
}
.schedule .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule .heading h1 {
  font-size: 20px;
  margin: 2px;
  color: #df42b1;
}
.schedule .heading h2 {
  margin: 0px;
  font-size: 45px;
  color: white;
}
.schedule .plandays {
  margin-top: 50px;
}
.schedule .plandays ul {
  display: flex;
  list-style: none;
}
.schedule .plandays ul li {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 170px;
  background: #1f2371;
  transition: 0.5s;
  padding: 10px 20px;
}
.schedule .plandays ul li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #4c4f8d;
}
.schedule .plandays ul li:last-child {
  border-left: 1px solid #4c4f8d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.schedule .plandays ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.schedule .plandays ul li a h1,
.schedule .plandays ul li a h2 {
  margin: 2px;
  color: white;
}
.schedule .plandays ul li a h1 {
  font-size: 25px;
}
.schedule .plandays ul li a h2 {
  font-size: 20px;
}

.active {
  background: #5d5e8d !important;
}

.cards {
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 900px;
}
.cards .container {
  margin-top: 50px;
}
.cards .container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .container .heading h1 {
  color: white;
  font-size: 15px;
  margin: 5px;
}
.cards .container .heading h2 {
  margin: 2px;
  font-size: 40px;
  color: white;
}
.cards .container .options {
  margin-top: 50px;
}
.cards .container .options ul {
  list-style: none;
  display: flex;
  gap: 70px;
}
.cards .container .options ul li {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  padding-top: 0px;
  border-radius: 15px;
  transition: 0.3s;
}
.cards .container .options ul li:hover {
  transform: scale(1.1);
}
.cards .container .options ul li .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .container .options ul li .info button {
  width: 230px;
  height: 50px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  border: none;
  z-index: 1;
}
.cards .container .options ul li .info button::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.6s;
  z-index: -1;
}
.cards .container .options ul li .info button:hover::after {
  background: white;
  width: 100%;
}
.cards .container .options ul li .info button:hover {
  color: black;
}
.cards .container .options ul li .info button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.cards .container .options ul li .info img {
  margin-top: 20px;
}
.cards .container .options ul li .info h1 {
  background: #df42b1;
  margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  color: white;
  padding: 7px 25px;
}
.cards .container .options ul li .info h2 {
  font-size: 60px;
  margin: 20px;
  margin-bottom: 0px;
  position: relative;
  color: #151853;
}
.cards .container .options ul li .info b {
  position: absolute;
  left: -20px;
  top: 12px;
  font-size: 30px;
}
.cards .container .options ul li .advantages {
  text-align: center;
}
.cards .container .options ul li .advantages i {
  color: #df42b1;
  margin-right: 5px;
  font-size: 15px;
}
.cards .container .options ul li .advantages h1 {
  font-size: 15px;
  color: #5d5e8d;
}

.sponsors {
  background: #151853;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  height: 1200px;
}
.sponsors .container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors .container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors .container .heading h1 {
  margin: 0px;
  font-size: 45px;
  color: white;
}
.sponsors .container .heading h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #df42b1;
}
.sponsors .container .list {
  margin-top: 50px;
}
.sponsors .container .list ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.sponsors .container .list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444675;
  width: 270px;
  height: 270px;
}
.sponsors .container .list ul li img {
  opacity: 0.3;
  transition: 0.5s;
}
.sponsors .container .list ul li:hover img {
  opacity: 1;
}
.sponsors .container .persons {
  margin-top: 80px;
}
.sponsors .container .persons ul {
  display: flex;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}
.sponsors .container .persons ul li {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  width: 410px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sponsors .container .persons ul li .info {
  color: white;
}
.sponsors .container .persons ul li .person {
  height: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sponsors .container .persons ul li .person .about h1 {
  font-weight: 300;
  margin: 0px;
  color: white;
}
.sponsors .container .persons ul li .person .about h2 {
  font-weight: 300;
  margin: 0px;
  font-size: 20px;
  color: #df42b1;
}
.sponsors .container .persons ul li .person img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.blog {
  display: flex;
  justify-content: center;
  background-image: url("https://preview.colorlib.com/theme/confer/img/bg-img/17.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  position: relative;
  z-index: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c63fa4;
  background-image: linear-gradient(120deg, #df42b1 0%, #505add 100%);
  opacity: 0.9;
  z-index: -1;
}
.blog .container {
  margin-top: 100px;
}
.blog .container .news {
  margin-top: 40px;
  padding: 20px;
  max-height: 100px;
}
.blog .container .news ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.blog .container .news ul li {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.blog .container .news ul li a {
  cursor: pointer;
  transition: 0.5s;
}
.blog .container .news ul li a:hover {
  color: #df42b1 !important;
}
.blog .container .news ul li .new {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  text-align: center;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.blog .container .news ul li .new .transition {
  width: 60px;
  position: relative;
}
.blog .container .news ul li .new .transition a {
  text-decoration: none;
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -92px;
  border: 2px solid white;
  color: white;
}
.blog .container .news ul li .new .transition a:hover {
  color: white !important;
}
.blog .container .news ul li .new p {
  width: 270px;
  color: #9293bc;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.blog .container .news ul li .new .head {
  margin-top: 30px;
  text-decoration: none;
  color: #111343;
  font-size: 25px;
  letter-spacing: 1px;
}
.blog .container .news ul li .new .cont {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.blog .container .news ul li .new .cont i {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 10px;
  transform: translateY(-2px);
}
.blog .container .news ul li .new .cont a {
  font-weight: 500;
  color: #9293bc;
  text-decoration: none;
  font-size: 20px;
}
.blog .container .news ul li .image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  height: 250px;
}
.blog .container .news ul li .image img {
  width: 100%;
  transition: 0.5s;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.blog .container .news ul li .image img:hover {
  scale: 1.2;
}
.blog .container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}
.blog .container .heading h2,
.blog .container .heading h1 {
  margin: 5px;
  color: white;
}
.blog .container .heading h2 {
  font-size: 20px;
}
.blog .container .heading h1 {
  font-size: 40px;
}

.contact {
  background-color: #151853;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  height: 700px;
}
.contact .container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.contact .container .interaction {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
.contact .container .interaction .form {
  background-color: rgba(255, 255, 255, 0.05);
  width: 750px;
  border-radius: 10px;
  padding: 35px;
  margin-left: 200px;
}
.contact .container .interaction .form form {
  overflow: hidden;
}
.contact .container .interaction .form form button {
  margin-top: 25px;
  border: none;
  width: 180px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  color: white;
  position: relative;
  z-index: 1;
  font-weight: 500;
  letter-spacing: 1px;
}
.contact .container .interaction .form form button i {
  font-size: 10px;
}
.contact .container .interaction .form form button::after {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  transition: 0.6s;
  z-index: -1;
}
.contact .container .interaction .form form button:hover {
  color: black;
}
.contact .container .interaction .form form button:hover::after {
  background: white;
  width: 100%;
}
.contact .container .interaction .form form button::before {
  content: "";
  background: linear-gradient(120deg, #505add 0%, #df42b1 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  z-index: -1;
}
.contact .container .interaction .form form textarea {
  height: 50px;
  background: transparent;
  resize: none;
  margin-top: 10px;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid #dbdcf1;
  width: 600px;
}
.contact .container .interaction .form form textarea:focus {
  outline: none;
}
.contact .container .interaction .form form textarea::-moz-placeholder {
  font-size: 16px;
}
.contact .container .interaction .form form textarea::placeholder {
  font-size: 16px;
}
.contact .container .interaction .form form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #dbdcf1;
  margin: 35px 0px;
  margin-top: 0px;
  margin-right: 33px;
  width: 280px;
  padding: 10px 0px;
  transition: 0.3s;
}
.contact .container .interaction .form form input::-moz-placeholder {
  font-size: 16px;
}
.contact .container .interaction .form form input::placeholder {
  font-size: 16px;
}
.contact .container .interaction .form form input:focus {
  outline: none;
  border-bottom: 1px solid rgba(219, 220, 241, 0.5);
}
.contact .container .interaction .form form input[type=number], .contact .container .interaction .form form input:nth-child(2) {
  margin-right: 0px;
}
.contact .container .interaction .info {
  margin-left: 10px;
  width: 230px;
}
.contact .container .interaction .info ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact .container .interaction .info ul li p {
  color: #9293bc;
  margin: 0px;
  margin-bottom: 5px;
}
.contact .container .interaction .info ul li h1 {
  color: white;
  font-size: 20px;
  margin: 10px 0px;
  margin-top: 0px;
}
.contact .container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container .heading h2 {
  font-size: 18px;
  color: #df42b1;
  margin: 3px 0px;
}
.contact .container .heading h1 {
  margin: 3px 0px;
  color: white;
  font-size: 40px;
}

footer {
  background: #111343;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
footer .container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding: 20px;
}
footer .container .row2 {
  border-top: 1px solid #9293bc;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .row2 .right a {
  color: #9293bc;
  margin-left: 30px;
  text-decoration: none;
  text-align: center;
  position: relative;
  transition: 0.5s;
}
footer .container .row2 .right a:hover {
  color: white;
}
footer .container .row2 .right a i {
  margin-top: 5px;
  font-size: 5px;
  color: #505add;
  position: absolute;
  top: 3px;
  left: -10px;
}
footer .container .row2 .left {
  color: #9293bc;
}
footer .container .row2 .left p {
  margin-bottom: 5px;
}
footer .container .row2 .left p i {
  margin-right: 3px;
  font-size: 13px;
}
footer .container .row2 .left a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
footer .container .row2 .left a:hover {
  color: #df42b1;
}
footer .container .row1 ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0px;
  padding: 0px;
}
footer .container .row1 ul li {
  width: 300px;
  height: 200px;
}
footer .container .row1 ul li .info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
footer .container .row1 ul li .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
footer .container .row1 ul li .gallery a img {
  width: 56px;
  height: 56px;
  border-radius: 5px;
  display: block;
}
footer .container .row1 ul li .workshops {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .container .row1 ul li .workshops a {
  text-decoration: none;
}
footer .container .row1 ul li .workshops a button {
  border: none;
  background: transparent;
  color: #9293bc;
  transition: 0.5s;
  cursor: pointer;
}
footer .container .row1 ul li .workshops a button:hover {
  color: white;
}
footer .container .row1 ul li:first-child .media a {
  text-decoration: none;
}
footer .container .row1 ul li:first-child .media a button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid #3d3e66;
  border-radius: 50%;
  transition: 0.5s;
}
footer .container .row1 ul li:first-child .media a button:hover {
  background: gray;
  opacity: 0.5;
}
footer .container .row1 ul li:first-child .media a button i {
  color: white;
  z-index: 1;
}
footer .container .row1 ul li:not(:first-child) p {
  margin: 7px 0px;
}
footer .container .row1 ul li:not(:first-child) p i {
  margin-right: 10px;
  font-size: 10px;
}
footer .container .row1 ul li h1 {
  margin: 0px;
  font-size: 24px;
  transform: translateY(-5px);
  color: white;
}
footer .container .row1 ul li p {
  color: #9293bc;
}/*# sourceMappingURL=style.css.map */