body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
header .navbar {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-left {
  width: 30%;
}
header .navbar-right {
  width: 70%;
}
header .navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navbar-right ul li button {
  background: transparent;
  border: none;
}
header .navbar-right ul li button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
header .navbar-right ul li:first-child button a {
  color: #df42b1;
}
header .navbar-right ul li:last-child button {
  border-radius: 60px;
  width: 150px;
  height: 45px;
  position: relative;
  color: white;
  font-size: 13px;
  word-spacing: 10px;
  cursor: pointer;
}
header .navbar-right ul li:last-child button:hover span {
  color: black;
}
header .navbar-right ul li:last-child button:hover::after {
  width: 100%;
  background: white;
}
header .navbar-right ul li:last-child button::before {
  content: "";
  transition: 0.5s;
  background: #df42b1;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header .navbar-right ul li:last-child button::after {
  content: "";
  transition: 0.8s;
  background: transparent;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
}

main {
  transform: translateY(100px);
  display: flex;
  flex-direction: column;
}

.aboutconference {
  margin: 0px;
  background: #151853;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  height: 800px;
}
.aboutconference .container {
  margin-top: 100px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.aboutconference .container .welcome {
  display: flex;
}
.aboutconference .container .welcome-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.aboutconference .container .welcome-left h1 {
  color: #df42b1;
  font-size: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
}
.aboutconference .container .welcome-left h2 {
  margin: 10px 0px;
  font-size: 40px;
  color: white;
}
.aboutconference .container .welcome-left p {
  color: white;
  font-size: 18px;
}
.aboutconference .container .welcome-left a {
  margin-top: 40px;
}
.aboutconference .container .welcome-left a button {
  border-radius: 60px;
  width: 150px;
  height: 45px;
  position: relative;
  color: white;
  font-size: 13px;
  word-spacing: 10px;
  cursor: pointer;
}
.aboutconference .container .welcome-left a button span {
  z-index: 100;
}
.aboutconference .container .welcome-left a button:hover::after {
  background: white;
  width: 100%;
  z-index: 1;
}
.aboutconference .container .welcome-left a button::before {
  content: "";
  transition: 0.5s;
  background: #df42b1;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.aboutconference .container .welcome-left a button::after {
  content: "";
  transition: 0.8s;
  background: transparent;
  border-radius: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
}
.aboutconference .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.aboutconference .date-conference {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}
.aboutconference .date-conference h1 {
  color: #df42b1;
  font-size: 15px;
  margin-bottom: 5px;
}
.aboutconference .date-conference h2 {
  color: white;
  font-size: 27px;
  margin-top: 5px;
}
.aboutconference .date .timer {
  width: 70%;
}
.aboutconference .date .timer ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0px;
  padding: 0px;
}
.aboutconference .date .timer ul li {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutconference .date .timer ul li h1 {
  color: white;
  margin: 0px;
  font-size: 60px;
  letter-spacing: 1px;
}
.aboutconference .date .timer ul li h2 {
  color: rgba(255, 255, 255, 0.5);
  margin: 0px;
  font-size: 20px;
}

.ourspeakings {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  height: 1200px;
  background-image: url("https://preview.colorlib.com/theme/confer/img/bg-img/3.jpg.webp");
  background-color: red;
  display: flex;
  justify-content: center;
}
.ourspeakings .container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourspeakings .container .view {
  margin-top: 40px;
}
.ourspeakings .container .view button {
  border-radius: 20px;
  padding: 10px 25px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.8s;
  letter-spacing: 1px;
}
.ourspeakings .container .view button:hover {
  background: #df42b1;
  border: none;
}
.ourspeakings .container .heading {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourspeakings .container .heading h1 {
  margin: 0px;
  font-size: 20px;
}
.ourspeakings .container .heading h2 {
  margin: 10px 0px;
  font-size: 45px;
}
.ourspeakings .container .images {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.ourspeakings .container .images ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.ourspeakings .container .images li h1 {
  transform: translate(30px, -80px);
  position: absolute;
  color: white;
  margin: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.ourspeakings .container .images li h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: translate(30px, -50px);
  font-weight: 500;
  position: absolute;
  margin: 3px;
  color: #df42b1;
}
.ourspeakings .container .images img {
  width: 340px;
  height: 370px;
  border-radius: 10px;
}

.schedule {
  background: #151853;
  height: 500px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.schedule .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.schedule .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule .heading h1 {
  font-size: 20px;
  margin: 2px;
  color: #df42b1;
}
.schedule .heading h2 {
  margin: 0px;
  font-size: 45px;
  color: white;
}
.schedule .plandays {
  margin-top: 50px;
}
.schedule .plandays ul {
  display: flex;
  list-style: none;
}
.schedule .plandays ul li {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 170px;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px;
}
.schedule .plandays ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule .plandays ul li a h1,
.schedule .plandays ul li a h2 {
  margin: 2px;
  color: white;
}
.schedule .plandays ul li a h1 {
  font-size: 25px;
}
.schedule .plandays ul li a h2 {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */